body {
  color: #fff;
  font-family: Verdana;
  background-image: url('../images/vintage_guitars.jpg');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  margin: 10px;
}

 h1 {
  font-family: sans-serif;
  text-align: center;
  color: #fff;
}


td {
  display: inline-block;
  padding: 20px;
  height: 10px;
  width: 150px;
  border: 1px solid #333;
  background-color: #fff;
  color: blue;
}


.form-item {
  display: inline-block;
  padding: 20px;
  height: 100px;
  width: 150px;

}


.flex-box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}
